.wrapper{
	margin: 0 auto;
	width: 70%;
	text-align: center;
}
#letterOutput{
	margin: 10px auto;
}
#letterOutput td{
	font-size: 25px;
}
#wrongLetters{
	margin: auto;
}

table#wrongLetters td{
	height: 40px;
	width: 40px;
	color: red;
	border: 2px solid #000;
	text-align: center;
	font-size: 35px;
}

#endOfTries {
  margin: 0 auto;
  position: fixed;
  background-color: red;
  display: none;
  right: 0;
  left: 0;
  width: 200px;
  height: 70px;
}